<a href="https://colab.research.google.com/github/JamilyEst/Python---Curso-Data-Science-na-Pr-tica/blob/main/Lidando_com_NaN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Valores Ausentes

Existem inúmeras técnicas para lidar com esse tipo de problema, e nesta aula vamos falar de duas das principais abordagens.

Antes, vamos importar os dados do projeto +BIKE

In [12]:
DATA_PATH = "http://dl.dropboxusercontent.com/s/yyfeoxqw61o3iel/df_rides.csv"

#importar pandas
import pandas as pd

#importar dataset
df = pd.read_csv(DATA_PATH)

# ver as primeiras entradas
df.head()

,user_gender,user_birthdate,user_residence,ride_date,time_start,time_end,station_start,station_end,ride_duration,ride_late
0,M,1971-06-08,NaN,2018-01-01,06:05:18,06:21:33,11 - Rodoviária 2,41 - Instituto de Artes,16.250000,0.0
1,M,1989-02-11,DF,2018-01-01,06:27:01,06:32:17,26 - Ministério da Saude,28 - CNMP - Conselho Nacional do Ministério Pú...,5.266667,0.0
2,M,1968-07-19,NaN,2018-01-01,06:29:33,06:44:57,11 - Rodoviária 2,43 - Biblioteca Central,15.400000,0.0
3,M,1991-12-19,NaN,2018-01-01,06:53:53,06:59:45,10 - Ministério dos Transportes,6 - Rodoviária,5.866667,0.0
4,M,1969-03-03,DF,2018-01-01,06:58:56,17:40:04,15 - Brasil 21,11 - Rodoviária 2,641.133333,1.0

In [13]:
import numpy as np

## Identificando os valores ausentes

Já vimos anteriormente como identificar valores do tipo NaN. E indispensável identificar a quantidade de valores ausentes e qual a represetatividade dessa quantidade frente ao total de entradas

In [7]:
# Ver a quantidade de valores ausentes
df.isnull().sum()

user_gender          396
user_birthdate         1
user_residence    179905
ride_date              0
time_start             0
time_end           43285
station_start          0
station_end            0
ride_duration      73174
ride_late          73174
dtype: int64

Porcentagem de valores ausentes

In [9]:
100*df.isnull().sum()/df.shape[0]

user_gender        0.137824
user_birthdate     0.000348
user_residence    62.614419
ride_date          0.000000
time_start         0.000000
time_end          15.064979
station_start      0.000000
station_end        0.000000
ride_duration     25.467594
ride_late         25.467594
dtype: float64

## Excluir valores Ausentes

Pode-se excluir tanto linhas com valores ausentes quanto colunas inteiras. Para que o Pandas saiba se a sua intenção é de eliminar linhas (axis = 0) ou colunas (axis = 1), você deve informar dentro do método `dropna()`

In [15]:
# eliminar todas as entradas onde existam valores ausentes em `user_gender`

df_clean = df.dropna(subset = ['user_gender'], axis = 0)

# comparar o antes e depois
print("Antes:t{}".format(df.shape))
print("Depois:t{}".format(df_clean.shape))

Antes:t(287322, 10)
Depois:t(286926, 10)

# Preencher Valores

Esta normalmente é a melhor opção.
Substituo os valores ausentes por qual valores ? (média, mediana, utilização de modelos)

In [16]:
# antes
df_clean.isnull().sum()

user_gender            0
user_birthdate         1
user_residence    179818
ride_date              0
time_start             0
time_end           43212
station_start          0
station_end            0
ride_duration      73064
ride_late          73064
dtype: int64

In [20]:
# preencher valores ausentes em `ride_duration` com a mediana
rd_median = df_clean.ride_duration.median()
df_clean = df_clean.fillna({"ride_duration":rd_median})


# ver valores ausentes
df_clean.isnull().sum()

user_gender            0
user_birthdate         1
user_residence    179818
ride_date              0
time_start             0
time_end           43212
station_start          0
station_end            0
ride_duration          0
ride_late          73064
dtype: int64

In [22]:
# ver o valor mais frequênte
df_clean.user_gender.value_counts()

M    212608
F     74318
Name: user_gender, dtype: int64

In [23]:
# preencher os valores ausentes de user_gender com 'M'
df_clean= df_clean.fillna({"user_gender": 'M'})

# ver valores ausentes
df_clean.isnull().sum()

user_gender            0
user_birthdate         1
user_residence    179818
ride_date              0
time_start             0
time_end           43212
station_start          0
station_end            0
ride_duration          0
ride_late          73064
dtype: int64